body {
  font-family: sans-serif;
  margin: 10px;
  align-items: center;
  font-size: medium;
}

h2,
h3 {
  margin-top: 0.5em;
}

pre {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  white-space: pre-wrap;
}

.bottomWrapper {
  position: absolute;
  bottom: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.summary-row {
  font-weight: bold;
  background-color: #f8f8f8;
}

#clearData {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: #fff;
  font-size: medium;
  margin: 5px 10px;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

#totalFunctionCount {
  text-align: end;
}

.countCell {
  text-align: end;
}
