body {
    font-family: sans-serif;
    margin: 10px;
    width: 250px;
}

h2, h3 {
    margin-top: 0.5em;
}

pre {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 6px;
    white-space: pre-wrap;
}